# Language for phonetic transcription
# 'en' - English phonetic respelling with syllables and stress markers
# other - Simple phonetic transcription
LANGUAGE=en

# YouTube playlist URL to download
PLAYLIST_URL=https://www.youtube.com/watch?v=-0r9VzzXk3I&list=PLpxZhOxCdp9G8TcJaRN_oNIeQc96uoM61

# Video resolution (360p or 720p)
VIDEO_RESOLUTION=720p

# Folders for SRT translation (input folder with .srt files, output folder for translated files)
INPUT_SRT_FOLDER=path\to\your\folder\with\srt\files
OUTPUT_SRT_FOLDER=path\to\your\folder\with\srt\files\with\translation\and\transcription
