INTEGRATION_PIPELINE_ENTRYPOINT=main.py
INTEGRATION_REDIS_HOST=127.0.0.1
INTEGRATION_REDIS_PORT=6379
INTEGRATION_REDIS_DB=0
INTEGRATION_REDIS_PASSWORD=
INTEGRATION_APP_HOST=127.0.0.1
INTEGRATION_APP_PORT=8010
